body {
    padding-top: 5rem;
}

form{
    background-color: white;
    max-width: 900px;
    padding: 30px;
    border-radius: 5px;
   
}

.form-label, .form-control {
    display: block; 
}


.form-label{
    font-weight: bold;
    font-size: 18px;
    
}

.form-control{
    margin-bottom: 15px;
}


.max-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.small-control{
    max-width: 300px;
}



.fishes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.fish-card{
    background-color: white;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fish-card img{
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.fish-card a{
    color: white;
    display: block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fish-card .fish-info{
    padding: 0 10px;
}


.fish-card h1{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.fish-card h3{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}
