{% extends "base.html" %}

{% block main %}
    <div class="container">
        <!-- Header Section -->
        <div class="about-header">
            <div class="text-section">
                <p class="para-text" style="color: rgb(235, 157, 13); font-size: larger;">How It All Started</p>
                <h2 class="heading-text">Our Dream is to Bring the World of Aquatics Closer</h2>
                <p class="para-text">
                    Blue Wave was founded in 2005 by ocean enthusiasts Marie Waters and Sarah Tide, who shared a deep passion for aquatic life and a desire to connect people with the wonders of fresh waters. Their vision was to create a gateway for individuals to experience the marvels of aquatic ecosystems from the comfort of their homes, bridging the gap between humanity and the sea. Over the years, Blue Wave has grown into a symbol
                     of innovation and dedication, offering a wide range of fish species and products that reflect the beauty and diversity of fresh waters. Built on the core values of sustainability, education, and exceptional customer care, the company is committed to protecting marine environments while fostering awareness and appreciation for aquatic life. Through their efforts, Blue Wave has inspired countless individuals to embrace a love for aquatics, transforming ordinary spaces into vibrant underwater sanctuaries and empowering people to play a role in preserving the planet’s most precious resource. With an unwavering dedication to quality and responsible sourcing, Blue Wave continues to lead the way in making marine life 
                    accessible while promoting conservation and inspiring the next generation of aquarists.
                </p>
            </div>
            <div class="image-section">
                <img src="/static/images/business-photo.jpg" alt="Team working together">
                <!-- Stats Section Below the Image -->
                <div class="stats-section">
                    <div class="stat">
                        <h3>18</h3>
                        <p class="para-text">Years Experience</p>
                    </div>
                    <div class="stat">
                        <h3>50+</h3>
                        <p class="para-text">Pet Fish Species Offered</p>
                    </div>
                    <div class="stat">
                        <h3>10K+</h3>
                        <p class="para-text">Positive Reviews</p>
                    </div>
                    <div class="stat">
                        <h3>75K</h3>
                        <p class="para-text">Happy Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
