{% extends "base.html" %}

{% block main %}


<div class="fish-form-container">


    <form action="{{url_for('addFish')}}" method="post" enctype="multipart/form-data">
        {{form.csrf_token}}

        <h1 class="heading-text" style="margin-bottom: 20px;">Add Fish</h1>
        <div class="fish-fields">
            {{form.name.label(class='form-label')}}
            {{ form.name(placeholder="Enter fish name", class="form-control")}}

            {{form.breed.label(class='form-label')}}
            {{ form.breed(placeholder="Enter fish breed", class="form-control")}}
    

            {{form.description.label(class='form-label')}}
            {{ form.description(placeholder="Provide a detailed description", class="form-control")}}

            {{form.availability.label(class='form-label')}}
            {{ form.availability(class="form-control")}}

            {{form.add_info.label(class='form-label')}}
            {{ form.add_info(placeholder="Provide additional info and(or) how to care for the fish", class="form-control")}}

            {{form.photo.label(class='form-label')}}
            {{form.photo(class="form-contorl small-control")}}
    
            
        
        </div>
        

        
        <button type="submit" name="submit">Add Fish</button>
        
    </form>

</div>



{% endblock %}