{% extends "base.html" %}

{% block css %} 
{% endblock %}

{% block main %}

<div class="contact-container">

    <div class="contact-details">
        <h1 class="heading-text">Contact Us</h1>
        <p class="para-text">We'd love to hear from you! Whether you have questions about our fish export services, 
            need assistance with a recent order, or want to learn more about our company, 
            our team is here to help.<br> <br> We are committed to providing excellent customer service and look forward to assisting you with all your inquiries.
            Your satisfaction is our top priority!</p>

        <br>
        <p>
            <span class="line para-text">info@aqfe.com</span>
            <span class="line para-text">(123) 456-7890.</span>
        </p>
        
    </div>


    <div class="contact-form">
        <form action="{{ url_for('contact') }}" method="post">
            {{ form.csrf_token }}
    
            <h1 class="heading-text" >Get in Touch</h1>
            <h2 class="para-text" style="font-size: 24px;">Got questions? <br> We'd be happy to help you!</h2>
    
            <div class="name-form-div">
                <div class="form-group">
                    {{ form.first_name.label(class='form-label') }}
                    {{ form.first_name(placeholder="John", class="form-control", required=True) }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class='form-label') }}
                    {{ form.last_name(placeholder="Doe", class="form-control", required=True) }}
                </div>
            </div>
            
            {{ form.email.label(class='form-label') }}
            {{ form.email(type="email", placeholder="johndoe@gmail.com", class="form-control", required=True) }}
    
            {{ form.fish.label(class='form-label') }}
            {{ form.fish(placeholder="Enter fish(es) you're interested In (if applicable)", class="form-control") }}
    
            {{ form.subject.label(class='form-label') }}
            {{ form.subject(placeholder="Enter Subject", class="form-control", required=True) }}
    
            {{ form.message.label(class='form-label') }}
            {{ form.message(rows="4", placeholder="Enter Message", class="form-control", required=True) }}
    
            <label>
                {{ form.subscribe(class="form-check-input") }}
                I want to be notified about new stock.
            </label>
    
            <button type="submit" name="submit">Send Email</button>
        </form>
    </div>
    

{% endblock %}

{% block js %}{% endblock %}
