{% extends "base.html" %}

{% block css %}{% endblock %}

{% block main %}
<div class="p-5 mb-4 bg-light rounded-3 border">

  <div class=" fishes">
    <h1>Fishes Available</h1>
    <p>We ship every weekend!</p>
    {% for fish in fishes%}
      <div class="fish-card">
        <img src="{{ url_for('get_image', filename=fish.photo_filename) }}" alt="Picture of {{ fish.name }}">
        <div class="fish-info">
          <h3>{{fish.name}}</h3>
          <h2>{{fish.breed}}</h2>
          <h1>{{fish.availability}}</h1>
        

        </div>
        <a class="bg-primary" href="{{ url_for('view_fish', fishid=fish.id) }}">More Info</a>
      </div>
    {% endfor %}

  </div>

</div>
{% endblock %}

{% block js %}{% endblock %}
