{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}


 <div class="login-form">


    <form action="{{url_for('login')}}" method="post" enctype="multipart/form-data">
        <h1 class="heading-text" style="margin-bottom: 20px;">Admin Login</h1>
        {{form.csrf_token}}

        <div class="login-details max-fields">
            {{form.username.label(class='form-label')}}
            {{ form.username(placeholder="Enter username", class="form-control")}}

            {{form.password.label(class='form-label')}}
            {{ form.password(placeholder="Enter password", class="form-control")}}
    
        </div>


        <button type="submit" name="submit">Login</button>

    </form>
</div>

{% endblock %}